<div class="navbar">
  <div class="navbar__title">
    {{#link-to 'home'}}Common Standards Project{{/link-to}}
  </div>
</div>

<div class="search-interface">

  <div class="search-bar">
    {{input value=query class="search-bar__input" placeholder="What would you like to search for?"}}
  </div>

  <div class="search-panes">
    {{#each standardSetIds as |id|}}
      {{standard-set id=id selectSet="selectSet" class="standard-set" removeSet="removeSet"}}
    {{/each}}
    <div class="add-search-pane" {{action 'addPane'}}>+</div>
  </div>
</div>
