// @import "lib/skeleton";
@import "variables";
@import "mixins/main";
@import "bootstrap";
@import "lib/hint";

@import "components/editor-grid";
@import "components/form-rows";
@import "components/grid";
@import "components/home-menu";
@import "components/labels";
@import "components/masthead";
@import "components/navbar";
@import "components/buttons";
@import "components/standard";
@import "components/jurisdiction-columns";
@import "components/standards-editor-panes";
@import "components/lists/jurisdiction-list";
@import "components/lists/editable-standards-list";
@import "components/lists/editor-jurisdictions-list";
@import "components/lists/selectable-list";
@import "components/lists/sidebar-list";
@import "components/lists/standards-set-list";

@import "pages/developers";
@import "pages/home";
@import "pages/search";
@import "pages/standards-edit";


html{
  font-size: 80%;
}

body{
  margin: 0;

}


.json-pretty{
  width: 100%;
  pre{
    outline: 0 !important;
  }
}


.selectize-control{
  margin-top: 10px;
}


.clearfix{
  clear: both;
}
