// @import "lib/jsoneditor";
@import "lib/skeleton";
// @import "bootstrap";
@import "variables";
@import "grid";
@import "labels";
@import "selectable-list";
@import "form-rows";
@import "standard";
@import "home/index";
@import "navbar";
@import "standards-editor/main";

body{
  margin: 0;
}


.json-pretty{
  width: 100%;
  pre{
    outline: 0 !important;
  }
}


.selectize-control{
  margin-top: 10px;
}
