
.developers-grid{
  display: flex;
  display: -webkit-flex;
  margin-top: 70px;
  h1{
    // font-family: $font-headings;
    // font-family: "aw-conqueror-carved";
    color: $teal;
    font-weight: 400;
    font-size: 3rem;
  }
  p{
    font-size: 1.2rem;
    color: $text;
  }
  h2{
    // text-transform: uppercase;
    font-size: 2.5rem;
    border-bottom: 1px solid $dividers;
  }
}

.developers-grid__sidebar{
  min-width: 200px;
  flex-grow: 1;
  // border-right: 1px solid $dividers;
  padding: 20px;
}

.developers-grid__main{
  padding: 10px 40px 10px 20px;
  flex-grow: 4;
}


.api-info{
  margin-top: 2rem;
}

.api-info__welcome{
  color: $text;
  margin-bottom: .5rem;
}

.api-info__sign-in{
  margin-top: 1rem;
}

.api-key{
  font-size: .8rem;
}


.code-sample{
  font-size: .9rem;
}
