.form-rows {
  // margin: 0 10px;
}

.form-rows__row {
  display: flex;
  border-bottom: 1px solid $dividers;
  padding-bottom: 0px;
  vertical-align: center;
  align-items: center;
  label {
    width: 20%;
    min-width: 50px;
    font-size: 12px;
    line-height: 1;
    padding: 5px 5px 5px 0;
    margin-bottom: 0;
    align-self: center;
    vertical-align: center;
  }
}

.form-rows__row__values {
  width: 90%;
  padding-left: 10px;
  font-size: 12px;
  line-height: 14px;
  padding: 5px 0;
  margin: 0;
  background-color: none;
  font-family: $font-family;
  border-color: transparent;
  .form-rows__row__url,
  input {
    width: 100%;
    font-family: "Source Sans Pro";
    border-color: transparent;
    background-color: none;
    height: 28px;
    margin-bottom: 0;
  }
  input {
    margin-left: -10px;
  }
}

// input.minimal-input{
//   border: none;
//   padding: 0;
//   outline: 0;
//   font-family: "Source Sans Pro";
// }
