.home-menu{
  padding: 0;
  margin: 0 80px;
  text-align: left;
  border: 1px solid $dividers;
}

.home-menu__item{
  border-bottom: 1px solid $dividers;
  padding: 20px 40px;
  clear: both;
  display: block;
  a {
    text-decoration: none;
  }
  &:hover{
    background-color: $yellow;
    text-decoration: none;
  }
}

.home-menu__item__icon{
  svg {
    width: 50px;
    height: 60px;
    path, polygon, rect {
      fill: $red;
    }
  }
  width: 60px;
  height: 60px;
  float: left;
}

.home-menu__item__title{
  font-family: "aw-conqueror-carved-one";
  font-family: "Source Sans Pro";
  font-size: 3rem;
  font-weight: 700;
  // letter-spacing: -.15rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  transition: all .3s;
  color: #D96758;
  display: inline;
  &:hover{
    transition: all .3s;
    // font-family: "aw-conqueror-carved-two";
  }
}

.home-menu__item__subtitle{
  // font-family: "le-monde-courrier-std-2";
  font-weight: 300;
  color: $hint;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-top: 0;
}


@media (max-width: 500px){
  .home-menu{
    margin: 0 20px;
  }
  .home-menu__item{
    padding: 20px;
  }
  .home-menu__item__title{
    font-size: 1.5rem;
  }
  .home-menu__item__subtitle{
    font-size: 1.25rem;
  }
}
