.home-menu{
  padding: 0;
  margin: 0 80px;
  text-align: left;
  // border: 1px solid $dividers;
  // border-top: 1px solid $red;
}

.home-menu__item{
  // border-bottom: 1px solid $red;
  border: 1px solid $red;
  background-color: $red;
  color: white;
  padding: 20px 40px;
  margin-bottom: 20px;
  clear: both;
  display: flex;
  display: -webkit-flex;
  border-radius: 10px;
  a {
    text-decoration: none;
  }
  &:hover{
    .home-menu__item__title{
      transition: all .3s;
      color: $red;
    }
    .home-menu__item__subtitle{
      transition: all .3s;
      color: $secondary-text;
    }
    .home-menu__item__icon svg {
      path, polygon, rect{
        transition: all .3s;
        fill: $red;
      }
    }
    background-color: $yellow;
    transition: all .3s;
    text-decoration: none;
  }
}

.home-menu__item__icon{
  svg {
    width: 80px;
    height: 80px;
    path, polygon, rect {
      transition: all .3s;
      // fill: $red;
      fill: white;
    }
  }
  min-width: 90px;
  height: 80px;
  margin-right: 20px;
}

.home-menu__item__title{
  font-family: "aw-conqueror-carved-one";
  font-family: "Source Sans Pro";
  font-size: 3rem;
  font-weight: 700;
  // letter-spacing: -.15rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  transition: all .3s;
  // color: #D96758;
  color: white;
  display: inline;
  transition: all .3s;
  // &:hover{
  //   transition: all .3s;
  //   // font-family: "aw-conqueror-carved-two";
  // }
}

.home-menu__item__subtitle{
  transition: all .3s;
  // font-family: "le-monde-courrier-std-2";
  font-weight: 300;
  color: $dividers;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-top: 0;
}


@media (max-width: 500px){
  .home-menu{
    margin: 0 20px;
  }
  .home-menu__item{
    padding: 20px;
  }
  .home-menu__item__title{
    font-size: 1.5rem;
  }
  .home-menu__item__subtitle{
    font-size: 1.25rem;
  }
}
