.loading-ripple{
  display: flex;
  width: 100%;
  justify-content: center;
  svg{
    display: inline-block;
    text-align: center;
    align-self: center;
  }

}

.loading-ripple-md{
  svg{
    height: 50px;
    width: 50px;
  }
}
