.masthead{
  padding: 0 0px;
  // background-color: white;
  // border-top: 1px solid $hint;
  // border-bottom: 1px solid $hint;
  text-align: left;
  position: relative;
  overflow-y: hidden;
}
.masthead__title {
  margin: 10vh auto;
  width: 80vw;
  position: relative;
  z-index: 10;
  font-family: "aw-conqueror-carved";
  font-size: 7.5rem;
  line-height: .8;
  cursor: pointer;
  transition: color .5s;
  color: $color-header-title;
  margin-bottom: 0;
  padding-bottom: 0;
  // transform: rotate(-15deg);
  &:hover{
    // color: #EAE3A0;
    // color: $red;
    // transition: color .5s;
  }
}

.masthead__background{
  top: 0;
  position: absolute;
  color:    $super-light;
  left: -20vw;
  right: -20vw;
  z-index:  0;
  font-family: "aw-conqueror-carved";
  font-size: 2rem;
  line-height: 1;
}

.masthead__subtitle {
  position: relative;
  z-index: 10;
  margin: 1.5rem auto 10vh;
  width: 80vw;
  font-size: 2.5rem;
  padding-bottom: 0px;
  font-weight: 600;
  color: $secondary-text;
  // transform: rotate(-15deg);
  // font-family: "aw-conqueror-carved-one";
  // text-transform: uppercase;
}


@media (max-width: 500px){
  .masthead {
    margin: 0 20px 20px;
  }
  .masthead__title{
    font-size: 4rem;
  }
  .masthead__subtitle{
    font-size: 2rem;
  }
}
