.navbar{
  position: fixed;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid $color-navbar-title;
  overflow: hidden;
  top: 0;
  left: 0; right: 0;
  box-shadow: 0 2px 20px hsla(0,0,20%, .2);
  background-color: white;
  // transform: translateZ(0);
  z-index: 999999;
  &:hover .navbar__title{
    // opacity: 0;
    // font-size: 30px;
    // line-height: 100px;
    // transform: translateY(80px);
    // transform: translateX(-100%);
  }
  &:hover .navbar__menu{
    // transform: translateY(5px);
  }
  + .below-navbar{
    margin-top: 80px;
  }
}

.navbar__title{
  font-family: "aw-conqueror-carved";
  font-weight: 200;
  font-size: 5rem;
  line-height: 1;
  // line-height: 60px;
  white-space: nowrap;
  text-align: center;
  text-align: center;
  width: 200%;
  margin-left: -50%;
  opacity: .05;
  // margin-top: -10px;
  // padding-left: 10px;
  // position: absolute;
  // letter-spacing: -0.1rem;
  a{
    color: $color-navbar-title !important;
    text-decoration: none;
  }
  transition: all .2s;
  transition-timing-function: ease-in;
  // cursor: pointer;
}

.navbar__title--project{
  font-family: $font-family;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0rem;
}


.navbar__menu{
  position: absolute;
  // height: 100%;
  right: 0px;
  left: 0;
  top: 20px; bottom: 0;
  display: block;
  // transition: all .2s;
  // transition-timing-function: ease-in;
  // margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  // display: inline;
  // transform: translateY(65px);
}

a.navbar__menu__item{
  color: $hint;
  margin: 0 20px;
  font-weight: 700;
  letter-spacing: .05rem;
  &:hover{
    text-decoration: none;
    color: $text;
  }
  &.active{
    // font-weight: bold;
    color: $teal;
    text-decoration: none;
  }
  svg{
    margin-top: 5px;
    height: 20px; width: 20px;
    display: inline;
  }
}

@media (max-width: 500px){
  a.navbar__menu__item{
    font-size: 1.2rem;
    margin: 0 10px;
  }
}
