.sortable-standards{
  padding-left: 0;
}

.sortable-standard{
  @include bb($dividers);
  padding-top:    .5rem;
  padding-bottom: .5rem;
  position: relative;


  &.sortable-standard--depth-0{
    padding-left: 1rem;
  }

  &.sortable-standard--depth-0 .sortable-standard__outdent{
    display: none;
  }

  &.sortable-standard--depth-1{
    padding-left: 3rem;
  }
  &.sortable-standard--depth-2{
    padding-left: 5rem;
  }
  &.sortable-standard--depth-3{
    padding-left: 7rem;
  }
  &.sortable-standard--depth-4{
    padding-left: 9rem;
  }
  &:hover .sortable-standard__list-id{
    // border: 1px solid $dividers;
    background-color: hsl(0,0,96%);
    // border-bottom: 1px solid $dividers;
  }
  &:hover .sortable-standard__icons{
    opacity: 1;
  }
}


.sortable-standard__icons{
  opacity: 0;
  display: flex;
  display: -webkit-flex;
  float: right;
  align-items: center;
  transition: opacity .2s;
}

.sortable-standard__icon{
  svg {
    width: 18px;
    height: 18px;
  }
  &:hover{
    svg path {
      stroke: $teal;
      fill: $teal;
    }
  }
}

.sortable-standard__columns{
  display: flex;
  display: -webkit-flex;
}


.sortable-standard__list-id{
  min-width: 20px;
  text-align: center;
  // @include bb($dividers);
  margin-right: 5px;
  line-height: 1.2rem;
  padding-right: 0 !important;
  // background-color: hsl(0,0,96%);
  // font-weight: 400;
  border: 1px solid transparent;
  // float: left;
  display: inline;
  // float: left;
  &.is-empty:before{
    content: "•";
    font-size: 1rem;
    color: $dividers;
    font-weight: 400;
  }
}

.sortable-standard__statement-notation{
  min-width: 50px;
  display: inline;
  text-align: center;
  // @include bb($dividers);
  line-height: 1.2rem;
  // float: left;
  &.is-empty:before{
    content: "Code";
    font-size: 1rem;
    color: $dividers;
    font-weight: 400;

  }

}

.sortable-standard__description{
  display: inline;
}


.sortable-standard__column--list-id{
  min-width: 20px;
}
