.sortable-standards{

}

.sortable-standard{

}

.sortable-standard__list-id{
  display: inline-block;
  min-width: 30px;
}

.sortable-standard__statement-notation{
  min-width: 50px;
  display: inline-block;
}

.sortable-standard__description{
  display: inline;
}
