.sponsorship-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: hsla(0, 0, 100%, 0.95);
  text-align: center;
  box-shadow: 0 2px 4px hsla(0, 0, 40%, 0.9);
  border-top: 1px solid hsl(0, 0, 90%);
  vertical-align: middle;
  padding-left: 20px;
  &:hover {
    .sponsorship-footer__loving {
      color: $text;
      border-bottom: 1px solid $teal;
      transition: all 0.3s;
    }
    .sponsorship-footer__logo svg {
      fill: $text;
      transition: all 0.3s;
    }
  }
}

.sponsorship-footer--not-fixed {
  position: relative;
  // width: 100%;
  display: block;
  box-shadow: none;
}

.sponsorship-footer__loving {
  transition: all 0.3s;
  display: inline-block;
  // color: $secondary-text;
  // color: desaturate(lighten($teal, 20%), 50%);
  color: $teal;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 800;
  font-family: $font-family;
  text-transform: uppercase;
  vertical-align: middle;
  opacity: 0.6;
  border-bottom: 1px solid transparent;
}

.sponsorship-footer__logo {
  transition: all 0.3s;
  display: inline-block;
  height: 40px;
  width: 30px;
  line-height: 40px;
  vertical-align: middle;
  padding-top: 5px;
  opacity: 0.6;
  svg {
    width: 80px;
    height: 25px;
    fill: $teal;
    // fill: $secondary-text;
  }
}
