
.standards-sets-list{

}
.standards-sets-list__subject-group{
  // border-bottom: 1px solid $dividers;
  margin-top: 1rem;
  padding: .5rem 0;
  // @include bb;
  overflow: hidden;
}

.standards-sets-list__subject-title{
  font-weight: 700;
}

// .standards-sets-list__set-list__item{
//   float: left;
//   padding: 5px;
//   margin: 0 5px 5px 0;
//   border-radius: 5px;
//   color: $secondary-text;
//   border: 1px solid $dividers;
// }

.standards-sets-list__set-list__item{
  @include bb;
  padding: .25rem 0;
  color: $secondary-text;
  cursor: pointer;
  &:first-child{
    @include bt;
  }
  &:hover{
    background-color: $yellow;
  }
}
