.standard-sets-list {
}
.standard-sets-list__subject-group {
  // border-bottom: 1px solid $dividers;
  margin-top: 1rem;
  padding: 0.5rem 0;
  // @include bb;
  overflow: hidden;
}

.standard-sets-list__subject-title {
  font-weight: 700;
}

// .standard-sets-list__set-list__item{
//   float: left;
//   padding: 5px;
//   margin: 0 5px 5px 0;
//   border-radius: 5px;
//   color: $secondary-text;
//   border: 1px solid $dividers;
// }

.standard-sets-list__set-list__item {
  @include bb;
  padding: 0.25rem 0;
  color: $secondary-text;
  cursor: pointer;
  &:first-child {
    @include bt;
  }
  &:hover {
    background-color: $yellow;
  }
}
