@mixin header-svg {
  vertical-align: baseline;
  svg {
    height: 16px;
    width: 16px;
    margin-top: 5px;
    display: inline;
    fill: $dividers;
  }
}

.standard-set-header__subject {
  // font-size: 1.75rem;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  // font-size: 1rem;
  // line-height: 1.6rem;
  // color: $text;
  cursor: pointer;
  @include header-svg;
  font-size: 1.7rem;
  &:hover {
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-header__title {
  // font-weight: 700;
  // font-size: 1.75rem;
  // font-size: 1.5rem;
  // font-size: 1rem;
  // color: $secondary-text;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  // line-height: 1.6rem;
  // line-height: 2rem;
  // display: inline;
  // color: black;
  cursor: pointer;
  &:hover {
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-header__document-title {
  display: block;
  clear: both;
  font-size: 0.8rem;
  color: $hint;
  &:before {
    content: "Source: ";
  }
  margin: 0;
  padding: 0;
  line-height: 1.1;
  padding: 0.25rem 0 0 0;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.standard-set-header__link-to-set {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  background-color: hsl(0, 0, 98%);
  border: 1px solid hsl(0, 0, 90%);
  padding: 10px;
  margin: 5px 0;
  display: block;
  color: $text;
  a {
    text-decoration: none;
  }
  // &:before{
  //   display: block;
  //   text-decoration: none !important;
  // }
}

.standard-set-header__select {
  // color: $secondary-text;
  // font-weight: 400;
  // &:after{ content: ""; }
  color: $teal;
  &:hover {
    text-decoration: none;
  }
}
.standard-set-header__jurisdiction {
  font-weight: 700;
  font-size: 1.7rem;
}

.standard-set-pane-header__choose-jurisdiction,
.standard-set-header__jurisdiction {
  display: block;
  // color: $hint;
  // text-transform: uppercase;
  // line-height: 1;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: block;
  float: left;
  // display: inline;
  // font-size: 1rem;
  // line-height: 1.6rem;
  // color: $text;
  padding-right: 0;
  @include header-svg;
  &:hover {
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-pane-header__choose-jurisdiction {
  // font-size: 1.2rem;
  letter-spacing: normal;
  text-transform: none;
  color: $teal;
  // font-size: 1.2rem;
  &:hover {
    text-decoration: none;
  }
}
