.standard-set-commit-maker {
  // position: fixed;
  // min-height: 200px;
  // height: 20vh;
  margin-top: 2rem;
  background-color: hsl(210, 10%, 96%);
  border: 1px solid $dividers;
  padding: 1rem;
}
