$page-margin: 5vh;
body{
  // background-color: $dividers;
}

.home-wrapper{
  // background-color: white;
  // padding: 20px 40px;
  // margin: 20px;
}

.credits{
  padding: 40px;
  background-color: $super-light;
  color: $secondary-text !important;
  font-size: .8rem;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}

.credits__background{
  @extend .masthead__background;
}
