$page-margin: 5vh;
body{
  position: relative;
  // overflow-y: hidden;
  // background-color: $dividers;
}

.state-background{
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
  color:    $super-light;
  width: 100%;
  z-index:  0;
  font-family: "aw-conqueror-carved";
  font-size: 2rem;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
.state-background__inner{
  left: -20vw;
  right: -20vw;
  width: 140vw;
  position: absolute;
  top: 0; bottom: 0;
  width: 140vw;
}


.home-wrapper{
  // background-color: white;
  // padding: 20px 40px;
  // margin: 20px;
}

.credits{
  padding: 40px 20px 10px;
  // background-color: $super-light;
  color: $secondary-text !important;
  font-size: .8rem;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}

.credits__background{
  @extend .masthead__background;
}
