$page-margin: 40px;
body{
  // background-color: $dividers;
}

.home-wrapper{
  // background-color: white;
  // padding: 20px 40px;
  // margin: 20px;
}

.credits{
  margin: 40px;
  color: $secondary-text !important;
  font-size: .8rem;
  text-align: center;
}
