.search-interface {
  margin-top: 50px;
  padding-top: 40px;
  background-color: hsl(0, 0, 96%);
  height: 100%;
  min-height: 100vh;
  padding: 40px 20px;
}

.show-link,
.add-search-pane {
  display: inline;
  svg {
    width: 1rem;
    height: 1rem;
    fill: $teal;
    margin-bottom: -1px;
  }
  font-size: 1rem;
  color: $teal;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.show-link {
  display: none;
  width: 45px;
  align-self: center;
  svg {
    width: 20px;
    height: 20px;
    stroke: $teal;
    path: transparent;
  }
}

.search-panes {
  display: flex;
  display: -webkit-flex;
  margin: 10px;
  transform: translateZ(0);
}

.add-search-pane-button {
  padding: 10px 10px 0 0;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 50px;
  svg {
    fill: $teal;
    height: 24px;
    width: 24px;
  }
  &:hover svg {
    fill: $secondary-text;
    transition: all 0.2s;
  }
  &:hover .add-search-pane-button__text {
    color: $secondary-text;
    opacity: 1;
    transition: all 0.2s;
  }
}

.add-search-pane-button__text {
  transform: rotate(90deg);
  transform-origin: left top;
  transition: all 0.2s;
  left: 27px;
  top: 30px;
  width: 700px;
  text-align: left;

  // box-shadow: 0 2px 14px hsla(0,0,20%, .3);
  // width: 100px;
  display: block;
  // max-width: 50px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: $teal;
  opacity: 0.5;
  // background-color: hsla(0,0,100%, .7);
  // color: white;
  padding: 10px;
  position: absolute;
}

@media (max-width: 500px) {
  .search-interface {
    padding: 20px 0;
  }
  .search-panes {
    flex-wrap: wrap;
    .standard-set {
      margin-right: 0;
    }
  }

  .add-search-pane-button {
    display: block;
    width: 100%;
    text-align: center;
    &:after {
      line-height: 1;
      margin-top: 0;
      padding-top: 0;
      vertical-align: center;
      display: block;
      position: relative;
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
      top: 0;
      transform: rotate(0deg);
    }
  }
}

.alert-floating {
  position: fixed;
  left: 100px;
  right: 100px;
  z-index: 99999;
  text-align: center;
  opacity: 0;
  transition: all 0.2s;
  &.show {
    opacity: 0.9;
    transition: all 0.2s;
  }
}
