<svg id="113379e4-2eb9-4629-9ac2-f0f015fd745c" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.19 416.75">
  <defs>
    <style>
      .\38 eeca484-1456-44fa-9db1-b6a329e52067 {
        fill: #1d1d1b;
      }
    </style>
  </defs>
  <title>Untitled-5</title>
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M452.66,373.23c-9.39-42.57-26.11-83.8-39.73-125.17-13.7-41.63-26.72-83.5-41.31-124.83a5.26,5.26,0,0,0-3.32-3.3,3.63,3.63,0,0,0-.86-2.8c-20-24.64-41.55-49.27-63.93-71.79a3.37,3.37,0,0,0-1.78-.94c0-.37,0-0.72,0-1.09-0.07-2.2-3.56-3.19-4.09-.72-0.07.33-.12,0.66-0.19,1a1.93,1.93,0,0,0-1.2-.11C245.55,54.72,195.17,66.55,144.9,79.62c-11.59,3-67,9.14-62.26,31a3,3,0,0,0-1,2.86c10,56.45,33.83,112.11,51.5,166.57,17.94,55.3,34.73,111,52.2,166.42a5,5,0,0,0,3.91,3.49c5.68,9,13.44,8.88,24.13,6.78,26.08-5.12,52-15.69,77.37-23.74,51.45-16.34,102.79-32.66,153.68-50.67a5.11,5.11,0,0,0,3.27-5.81C449.71,378,453.31,376.18,452.66,373.23ZM350.28,109.7c-8.37,1.33-16.73,2.87-25,4.51-6.15,1.22-12.86,3.45-19.11,4-7.07.68-6.12,2.63-8.26-3.51-2.8-8,2.18-25.38,2.88-34,0.73-9,1.08-17.82,1.08-26.73C317.09,73.13,333.5,91.8,350.28,109.7Zm92.13,263.44C401.25,387,360,400.81,318.69,414.08c-20,6.4-40,12.47-60.15,18.41-12.68,3.75-50,21.27-63.37,13.57a4.82,4.82,0,0,0-.22-1.7c-18.17-56.91-37.07-113.6-54.68-170.69C124,221,111.65,164.17,88.54,114c5.38-17.65,37.88-20.15,53.7-24.31q25.09-6.59,50.21-13.1c34.91-9,69.48-19.2,104.19-28.86-2.74,14.22-4.46,28.39-5.83,42.88-0.82,8.69-6.65,26.72-1.08,34.66,4.32,6.16,12.45,3.23,18.37,2.13,16.19-3,32.48-6.67,48.36-11.12,1.83,1.92,3.64,3.89,5.47,5.79h0a4.38,4.38,0,0,0-.15,3.31c13.47,43.36,28.65,86.17,43,129.24,13.19,39.56,24.14,80.71,41.1,118.88A3.83,3.83,0,0,0,442.42,373.14Z"
    transform="translate(-81.54 -41.15)" />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M267,101.29c-21.94,3.64-43.57,11.32-65.22,16.55-21.81,5.27-43.82,9.85-65.48,15.71a2.14,2.14,0,0,0,.9,4.17c42.89-5.28,91.66-14.55,131.55-31.5C271.63,105,269.85,100.82,267,101.29Z" transform="translate(-81.54 -41.15)"
  />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M277.66,134.17c-43.2,7.35-87,20.34-128.85,33.24a2.13,2.13,0,0,0,.9,4.17c43.43-5.89,89.19-15.37,130-31.54C283.18,138.68,281,133.6,277.66,134.17Z" transform="translate(-81.54 -41.15)" />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M340.55,154.41C280,168.58,217.29,179.55,159.17,202.5c-3,1.2-1.12,5.66,1.83,5.16,61.33-10.27,120.83-31.45,180.88-47.12C345.77,159.53,344.51,153.49,340.55,154.41Z" transform="translate(-81.54 -41.15)"
  />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M351.95,187.37c-60.9,19.15-123,33.61-184.13,52A2.72,2.72,0,0,0,169,244.7c63-9.56,124.44-28.55,185-47.92C359.82,194.91,357.87,185.51,351.95,187.37Z" transform="translate(-81.54 -41.15)" />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M362.65,224.84c-61.22,9.43-125.8,30.85-182.9,54.67-4.09,1.71-1.68,8.63,2.61,7.35,30.3-9,60.17-19.55,90.42-28.78s61.49-16,91.39-26.21C368.49,230.4,367.33,224.12,362.65,224.84Z" transform="translate(-81.54 -41.15)"
  />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M373.25,254.25C313.11,271.79,251,292.82,193.41,317.66c-3.56,1.54-1.48,7.44,2.28,6.41,60.51-16.52,122.06-38.84,180.08-62.7C379.74,259.74,377.4,253,373.25,254.25Z" transform="translate(-81.54 -41.15)"
  />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M388.48,296.56a1168.66,1168.66,0,0,0-185.4,58.93c-4,1.66-1.63,8.52,2.55,7.2q92.27-29.17,184.58-58.11C395.17,303,393.71,295.37,388.48,296.56Z" transform="translate(-81.54 -41.15)" />
  <path class="8eeca484-1456-44fa-9db1-b6a329e52067" d="M404.26,337.54c-62.59,16.89-125.38,36.49-186.1,59.23-3.61,1.35-1.44,7.3,2.25,6.33,62.39-16.41,124.72-35.42,186-55.5C412.6,345.58,410.76,335.79,404.26,337.54Z" transform="translate(-81.54 -41.15)"
  />
</svg>
