.search-interface{
  margin-top: 70px;
  background-color: hsl(0,0,96%);
  height: 100%;
}

input.search-bar__input{
  width: calc(100% - 40px);
  margin: 10px;
  border: none;
  border-bottom: 1px solid $dividers;
  font-size: 1.25rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  height: 3rem;
  font-family: $font-family;
}

.search-panes{
  display: flex;
  display: -webkit-flex;
  margin: 10px;
}


.standard-set {
  width: 100%;
  overflow: hidden;
  margin: 10px 20px 10px 0;
  border-right: 1px solid $dividers;
  border-bottom: 2px solid $dividers;
  border-top: 1px solid $dividers;
  border-left: 1px solid $dividers;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 40px;
}

.standard-set-pane{
  max-height: 0;
  position: relative;
}

.standard-set-pane__remove{
  color: $hint;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.standard-set__inner--show-jurisdictions{
  transform: translateX(0);
  .standard-set-pane:nth-child(1){
    max-height: 100%;
  }
}
.standard-set__inner--show-subjects{
  transform: translateX(-25%);
  .standard-set-pane:nth-child(2){
    max-height: 100%;
  }
}

.standard-set__inner--show-grade-levels{
  transform: translateX(-50%);
  .standard-set-pane:nth-child(3){
    max-height: 100%;
  }
}

.standard-set__inner--show-standards{
  transform: translateX(-75%);
  .standard-set-pane:nth-child(4){
    max-height: 100%;
  }
}

.standard-set__inner{
  display: flex;
  display: -webkit-flex;
  transition: transform .2s;
  vertical-align: center;
}

.standard-set__inner--drop-transition{
  transition: transform 0s;
}

.standard-set__inner--four-panes {
  width: 400%;
}

.standard-set-pane{
  width: 100%;
  flex-grow: 1;
  margin-bottom: 0;
}

.standard-set-pane__back{
  font-size: 1rem;
  color: $hint;
  // display: inline;
  float: left;
  margin-right: 10px;
  display: block;
  width: 20px;
  // height: 100%;
  font-size: 2rem;
  line-height: 1;
  border-right: 1px solid $dividers;
  display: none;
}

.standard-set-pane-header{
  border-bottom: 1px solid $dividers;
  padding: 15px;
  line-height: 1.2;
  font-size: 1.7rem;
  color: $teal;
  font-weight: 400;
}

.standard-set-pane__selectable-list{
  padding: 0;
}

.standard-set-pane__selectable-list__item{
  font-size: 1.2rem;
  padding: 5px 10px;
  border-bottom: 1px solid $dividers;
  cursor: pointer;
  color: $secondary-text;
  &:hover{
    background-color: $yellow;
  }
}


.standard-set-header__jurisdiction{
  font-weight: 700;
}
.standard-set-pane-header__choose-jurisdiction,
.standard-set-header__jurisdiction{
  display: block;
  // color: $hint;
  // text-transform: uppercase;
  line-height: 1;
  margin: 0; padding: 0;
  cursor: pointer;
  display: block;
  float: left;
  // display: inline;
  // font-size: 1rem;
  line-height: 1.6rem;
  // color: $text;
  padding-right: 0;
  &:after{ content: " ⟩ "; color: $hint; font-weight: 400; padding-right: 3px; }
  &:hover{
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-pane-header__choose-jurisdiction{
  // font-size: 1.2rem;
  letter-spacing: normal;
  text-transform: none;
  color: $teal;
  // font-size: 1.2rem;
  &:hover{
    text-decoration: none;
  }
}



.standard-set-header__subject{
  // font-size: 1.75rem;
  margin: 0; padding: 0;
  display: block;
  float: left;
  // font-size: 1rem;
  line-height: 1.6rem;
  // color: $text;
  cursor: pointer;
  &:after{ content: " ⟩ ";  color: $hint; font-weight: 400; padding-right: 3px;}
  &:hover{
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-header__title{
  // font-weight: 700;
  // font-size: 1.75rem;
  // font-size: 1.5rem;
  // font-size: 1rem;
  // color: $secondary-text;
  display: block;
  float: left;
  margin: 0; padding: 0;
  line-height: 1.6rem;
  // line-height: 2rem;
  // display: inline;
  // color: black;
  cursor: pointer;
  &:hover{
    color: $teal;
    text-decoration: underline;
  }
}

.standard-set-header__document-title{
  display: block;
  clear: both;
  font-size: 0.8rem;
  color: $hint;
  &:before{ content: "Source: ";}
  margin: 0; padding: 0;
  line-height: 1.1;
  padding: .25rem 0 0 0;
  text-decoration: none;
}


.standard-set-header__select{
  // color: $secondary-text;
  // font-weight: 400;
  // &:after{ content: ""; }
  color: $teal;
  &:hover{ text-decoration: none;}
}
