.masthead{
  margin: 0 80px 40px;
  padding: 20px 0px;
  background-color: white;
  // border-top: 1px solid $hint;
  // border-bottom: 1px solid $hint;
  text-align: center;

}
.masthead__title {
  font-family: "aw-conqueror-carved";
  font-size: 8rem;
  line-height: 1;
  cursor: pointer;
  transition: color .5s;
  color: $color-header-title;
  margin-bottom: 0;
  padding-bottom: 0;
  &:hover{
    // color: #EAE3A0;
    color: $red;
    transition: color .5s;
  }
}

.masthead__subtitle {
  margin-top: 1.5rem;
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0px;
  font-weight: 200;
  color: $secondary-text;
  // text-transform: uppercase;
}
