<div class="home-wrapper">
  <div class="masthead">
    {{#link-to 'search' tagName="h1" class="masthead__title"}}
      The<br>Common<br>Standards<br>Project
    {{/link-to}}
    <h2 class="masthead__subtitle">
      The world's repository for academic standards
    </h2>
  </div>

  <div class="home-menu">

    {{#link-to "search" class="home-menu__item"}}
      <div class="home-menu__item__icon">
        {{partial "icons/ios7-search"}}
      </div>
      <div class="home-menu__text">
        <h2 class="home-menu__item__title">
          Search & Browse Standards
        </h2>
        <h3 class="home-menu__item__subtitle">
          Standards from all 50 states including the Common Core
        </h3>
      </div>
    {{/link-to}}

    {{#link-to "edit" class="home-menu__item"}}
      <div class="home-menu__item__icon">
        {{partial "icons/ios7-compose"}}
      </div>
      <div class="home-menu__text">
        <h2 class="home-menu__item__title">
          Create & Edit Standards
        </h2>
        <h3 class="home-menu__item__subtitle">
          Create your own standards and share them with your school or district
        </h3>
      </div>
    {{/link-to}}

    {{#link-to 'developers' class="home-menu__item"}}
      <div class="home-menu__item__icon">
        {{partial "icons/ios7-lightbulb"}}
      </div>
      <div class="home-menu__text">
        <h2 class="home-menu__item__title">
          Developers
        </h2>
        <h3 class="home-menu__item__subtitle">
          If you’re a developer, integrate these standards into your application
        </h3>
      </div>
    {{/link-to}}


  </div>

  <div class="credits">
    Copyright 2015 Common Curriculum, Inc. Standards data copyright "Desire2Learn Incorporated" or <a href="http://asn.desire2learn.com/">Achievement Standards Network</a> and is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons 3.0 Attribution</a> license.
    <div>Icon made by <a href="http://icon-works.com" title="Icon Works">Icon Works</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </div>
</div>
