<div class="navbar">
  <div class="navbar__title">
    {{#link-to 'home'}}Common Standards Project{{/link-to}}
  </div>
  <div class="navbar__menu">
    {{#link-to 'home' class="navbar__menu__item"}}Home{{/link-to}}
    {{#link-to 'search' class="navbar__menu__item"}}
      {{!-- {{partial "icons/ios7-search"}} --}}
      Search
    {{/link-to}}
    {{#link-to 'edit' class="navbar__menu__item"}}Edit{{/link-to}}
    {{#link-to 'developers' class="navbar__menu__item"}}Developers{{/link-to}}
  </div>
</div>
