<div class="sortable-standard">
  {{simple-editable value=item.listId class="sortable-standard__list-id" placeholder="List Identifier"}}
  {{item.listId}}
  {{simple-editable value=item.statementNotation class="sortable-standard__statement-notation"}}
  {{simple-editable value=item.description class="sortable-standard__description"}}
</div>
