.standard-set-list__item{
  padding: 7px 0 7px 7px;
  border-bottom: 1px solid $dividers;
  cursor: pointer;
  display: block;
  &:hover{
    background-color: $bg-hover;
    .standard-set-list__subject,
    .standard-set-list__title{
      color: white;
    }
  }
  text-decoration: none;
  &.active{
    font-weight: bold;
    text-decoration: underline;
  }
}

.standard-set-list__subject{
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  color: $teal;
  color: $text;
}

.standard-set-list__title{
  line-height: 1;
  font-size: 1.25rem;
  display: block;
  color: $secondary-text;
}


.editable-standards-list{

}

.editable-standard{
  font-size: 1rem;
  line-height: 1.3;
  border-top: 1px solid $dividers;
  padding-top: 5px;
  padding-bottom: 5px;
  &.depth-0{
    font-weight: bold;
    font-size: 1.5rem;
  }
  &.depth-1{
    padding-left: 10px;
    font-weight: bold;
  }
  &.depth-2{
    padding-left: 20px;
  }
  &.depth-3{
    padding-left: 30px;
  }
}

.editable-standard__listId{
  color: $color-accent;
  font-weight: 700;
  display: inline-block;
  min-width: 10px;
}

.editable-standard__description{
  display: inline;
}

.editable-standard__notation{
  color: $hint;
  display: block;
}
